---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?fsym=ETH&limit=3&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1521590400,"close":559.91,"high":590.2,"low":545.48,"open":557.57,"volumefrom":488509.24,"volumeto":277714049.38},{"time":1521676800,"close":539.89,"high":578.01,"low":516.22,"open":559.91,"volumefrom":431953.84,"volumeto":233985932.96},{"time":1521763200,"close":543.83,"high":543.84,"low":506.79,"open":539.89,"volumefrom":432407.55,"volumeto":225200086.3},{"time":1521849600,"close":525.61,"high":546.01,"low":524.07,"open":543.84,"volumefrom":214176.15,"volumeto":114989533.81}],"TimeTo":1521849600,"TimeFrom":1521590400,"FirstValueInArray":true,"ConversionType":{"type":"direct","conversionSymbol":""}}'
  recorded_at: Sat, 24 Mar 2018 23:40:19 GMT
recorded_with: VCR 4.0.0
