---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?e=LocalBitcoins&fsym=ETH&limit=5&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Error","Message":"e param is not valid the market does
        not exist for this coin pair","Type":1,"Aggregated":false,"Data":[]}'
  recorded_at: Mon, 26 Mar 2018 21:40:55 GMT
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?fsym=ETH&limit=5&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1521590400,"close":559.91,"high":590.2,"low":545.48,"open":557.57,"volumefrom":488509.24,"volumeto":277714049.38},{"time":1521676800,"close":539.89,"high":578.01,"low":516.22,"open":559.91,"volumefrom":431953.84,"volumeto":233985932.96},{"time":1521763200,"close":543.83,"high":543.84,"low":506.79,"open":539.89,"volumefrom":432407.55,"volumeto":225200086.3},{"time":1521849600,"close":520.16,"high":546.01,"low":519.51,"open":543.84,"volumefrom":241529.67,"volumeto":129350391.02},{"time":1521936000,"close":523.01,"high":535.77,"low":513.63,"open":520.17,"volumefrom":213514.32,"volumeto":111462284.91},{"time":1522022400,"close":473.65,"high":526.2,"low":467.48,"open":522.97,"volumefrom":499417.04,"volumeto":245289649.96}],"TimeTo":1522022400,"TimeFrom":1521590400,"FirstValueInArray":true,"ConversionType":{"type":"direct","conversionSymbol":""}}'
  recorded_at: Mon, 26 Mar 2018 22:03:16 GMT
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?e=Bitfinex&fsym=ETH&limit=5&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1521590400,"close":558.78,"high":590.11,"low":544.49,"open":556.38,"volumefrom":184758.56,"volumeto":104635517.5},{"time":1521676800,"close":539.19,"high":578.18,"low":514,"open":558.78,"volumefrom":174861.03,"volumeto":94593925.52},{"time":1521763200,"close":543.85,"high":544.28,"low":504.58,"open":539.19,"volumefrom":192973.83,"volumeto":100048838.67},{"time":1521849600,"close":518.8,"high":546.36,"low":517.85,"open":543.85,"volumefrom":108560.56,"volumeto":57982954.18},{"time":1521936000,"close":522.41,"high":537,"low":512.87,"open":518.8,"volumefrom":81571.27,"volumeto":42526859.31},{"time":1522022400,"close":482.9,"high":525.37,"low":466.63,"open":522.41,"volumefrom":197680.72,"volumeto":97566359.93}],"TimeTo":1522022400,"TimeFrom":1521590400,"FirstValueInArray":true,"ConversionType":{"type":"force_direct","conversionSymbol":""}}'
  recorded_at: Mon, 26 Mar 2018 22:08:59 GMT
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?e=Bitfinex&fsym=ETH&limit=6&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1521676800,"close":539.19,"high":578.18,"low":514,"open":558.78,"volumefrom":174861.03,"volumeto":94593925.52},{"time":1521763200,"close":543.85,"high":544.28,"low":504.58,"open":539.19,"volumefrom":192973.83,"volumeto":100048838.67},{"time":1521849600,"close":518.8,"high":546.36,"low":517.85,"open":543.85,"volumefrom":108560.56,"volumeto":57982954.18},{"time":1521936000,"close":522.41,"high":537,"low":512.87,"open":518.8,"volumefrom":81571.27,"volumeto":42526859.31},{"time":1522022400,"close":485.2,"high":525.37,"low":466.63,"open":522.41,"volumefrom":224304.38,"volumeto":110522774.94},{"time":1522108800,"close":448.22,"high":491.5,"low":446,"open":485.2,"volumefrom":305074.4,"volumeto":140190869.24},{"time":1522195200,"close":448.59,"high":450,"low":438.69,"open":448.22,"volumefrom":27349.23,"volumeto":12162753.79}],"TimeTo":1522195200,"TimeFrom":1521676800,"FirstValueInArray":true,"ConversionType":{"type":"force_direct","conversionSymbol":""}}'
  recorded_at: Wed, 28 Mar 2018 03:04:04 GMT
recorded_with: VCR 4.0.0
