---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/top/exchanges/full?fsym=ETH&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Total available exchanges - 26","Data":{"CoinInfo":{"Id":"7605","Name":"ETH","FullName":"Ethereum","Internal":"ETH","ImageUrl":"/media/20646/eth_logo.png","Url":"/coins/eth/overview","Algorithm":"Ethash","ProofType":"PoW","TotalCoinsMined":98477753.374,"BlockNumber":5340231,"NetHashesPerSecond":239866225785647,"BlockReward":3,"BlockTime":15,"TotalVolume24H":1294671.7762202185},"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"ETH","TOSYMBOL":"USD","FLAGS":"4","PRICE":447.74,"LASTUPDATE":1522285959,"LASTVOLUME":3.06665894,"LASTVOLUMETO":1371.409877968,"LASTTRADEID":"218926848","VOLUMEDAY":10476.138441600151,"VOLUMEDAYTO":4679984.242171752,"VOLUME24HOUR":353492.2749363602,"VOLUME24HOURTO":159632959.92774716,"OPENDAY":445.93,"HIGHDAY":447.74,"LOWDAY":445.26,"OPEN24HOUR":447.03,"HIGH24HOUR":465.75,"LOW24HOUR":440.62,"LASTMARKET":"Bitfinex","CHANGE24HOUR":0.7100000000000364,"CHANGEPCT24HOUR":0.15882602957296746,"CHANGEDAY":1.8100000000000023,"CHANGEPCTDAY":0.40589330163927123,"SUPPLY":98477753.374,"MKTCAP":44092429295.67476,"TOTALVOLUME24H":1294671.7762202185,"TOTALVOLUME24HTO":581036669.8325819},"Exchanges":[{"TYPE":"2","MARKET":"Bitfinex","FROMSYMBOL":"ETH","TOSYMBOL":"USD","FLAGS":"4","PRICE":447.2,"LASTUPDATE":1522285959,"LASTVOLUME":3.06665894,"LASTVOLUMETO":1371.409877968,"LASTTRADEID":"218926848","VOLUME24HOUR":143463.28118128004,"VOLUME24HOURTO":64729285.92460778,"OPEN24HOUR":445.9,"HIGH24HOUR":465.62,"LOW24HOUR":440,"CHANGE24HOUR":1.3000000000000114,"CHANGEPCT24HOUR":0.29154518950437575,"CHANGEDAY":0,"CHANGEPCTDAY":0},{"TYPE":"2","MARKET":"Coinbase","FROMSYMBOL":"ETH","TOSYMBOL":"USD","FLAG[...]
